@import './Variables';

.loginContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $chat-color;

  form {
    height: 250px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 5px 3px hsl(0, 0, 80%);

    label {
      font-size: 2rem;
      font-weight: 700;
    }

    input {
      width: 75%;
      font-size: 1.5rem;
      border-radius: 8px;
      padding: 5px;
      background-color: hsl(0, 0%, 97%);
    }

    button {
      width: 40%;
      padding: 10px;
      border-radius: 8px;
      border: none;
      background-color: $green-color;
      color: white;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(45, 6%, 88%);
}

.background {
  background-color: $green-color;
  height: 20%;
  width: 100%;
  position: absolute;
  top: 0;
}

.chatContainer {
  width: 95%;
  max-width: 1800px;
  height: 95%;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  display: flex;
}

.chatMessages {
  flex: 1;
  background-image: url('../../assets/zap_84c42ab28307481aba5529aae57274d8.png');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
